<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MoveOn Petitions</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel='stylesheet' href="<%= htmlWebpackPlugin.options.cssPath %>" type='text/css' media='all' />
  </head>
  <body class="moveon-petitions">
    <div id="root"></div>
    <script src="<%= htmlWebpackPlugin.options.reactJs %>"></script>
    <script src="<%= htmlWebpackPlugin.options.reactDomJs %>"></script>
  </body>
</html>
