{
  "presets" : ["es2015", "react"],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": false }],
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["webpack-alias", "dynamic-import-node"]
    }
  }
}
