{
  "presets" : ["es2015", "react"],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        [ "webpack-alias", { "config": "./webpack/base.config.js" } ]
      ]
    }
  }
}
